<ol class="breadcrumb">
  <li class="breadcrumb-item active">Album</li>
</ol>

<div class="mb-0 mt-4">
  <i class="fa fa-newspaper-o"></i> Album list
  <%= link_to new_album_path do %>
      <button type="button" class="btn btn-outline-primary btn-sm pull-right">Add new album</button>
    <% end %>
</div>

<hr class="mt-2">
<div class="card-columns">
<!-- Example Social Card-->
<% @album.each do |album| %>
<div class="card mb-3">

  <a href="#">
    <%= link_to album_path(album) do %>
      <img class="card-img-top img-fluid w-100" src="<%= album.urlimg %>" alt="">
    <% end %>
  </a>
  <div class="card-body">
    <%= link_to album_path(album) do %>
      <h6 class="card-title mb-1"><%= album.title %></h6>
    <% end %>
    <p class="card-text small"><%= album.description %>
    </p>
  </div>
  <hr class="my-0">

  <!-- <div class="card-body py-2 small">
    <a class="mr-3 d-inline-block" href="#">
      <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
    <a class="mr-3 d-inline-block" href="#">
      <i class="fa fa-fw fa-comment"></i>Comment</a>
    <a class="d-inline-block" href="#">
      <i class="fa fa-fw fa-share"></i>Share</a>
  </div> -->
<!--   <hr class="my-0">
  <div class="card-body small bg-faded">
    <div class="media">
      <img class="d-flex mr-3" src="http://placehold.it/45x45" alt="">
      <div class="media-body">
        <h6 class="mt-0 mb-1"><a href="#">John Smith</a></h6>Very nice! I wish I was there! That looks amazing!
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#">Like</a>
          </li>
          <li class="list-inline-item">·</li>
          <li class="list-inline-item">
            <a href="#">Reply</a>
          </li>
        </ul>
        <div class="media mt-3">
          <a class="d-flex pr-3" href="#">
            <img src="http://placehold.it/45x45" alt="">
          </a>
          <div class="media-body">
            <h6 class="mt-0 mb-1"><a href="#">David Miller</a></h6>Next time for sure!
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">Like</a>
              </li>
              <li class="list-inline-item">·</li>
              <li class="list-inline-item">
                <a href="#">Reply</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card-footer small text-muted"> Created <%=time_ago_in_words(album.created_at)%> ago
  </div>
</div>
<% end %>
</div>

