<div class="mb-0 mt-4">
<i class="fa fa-newspaper-o"></i> Albums
<div class="clearfix"></div>
<%= link_to new_album_path do %>
  <button type="button" class="btn btn-primary btn-sm"">Create new album</button>
<% end %>
</div>
<hr class="mt-10">
<div class="card-columns">
  <% @albums.each do |album| %>
  <div class="card mb-3">
    <%= link_to album_path(album) do %>
    <img class="card-img-top img-fluid w-100" src="<%= album.urlimg %>" alt="">
    <% end %>
    <div class="card-body">
      <%= link_to album_path(album) do %>
      <h6 class="card-title mb-1"><%= album.title %></h6>
      <% end %>
      <p class="card-text small"><%= album.description %>
      </p>
    </div>
    <div class="card-footer small text-muted">Created <%= time_ago_in_words(album.created_at)%> ago 
      <% if album.viewcount != nil %>
      <span class="pull-right"><%= album.viewcount %> views</span>
      <% else %>
      <span class="pull-right">0 views</span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>