<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">Home</a>
  </li>
  <li class="breadcrumb-item active">Blog</li>
</ol>

<h1>Blog</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Username</th>
        <th>View</th>
    </tr>

    <% @post.each do |post| %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= post.username %></td>
            <td><%= post.viewcount %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post_path(post),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
